---
interface Props {
  code: string;
  header?: string;
  description?: string;
  clickable?: boolean;
}

const { code, header, description, clickable = true } = Astro.props;
---

<div class:list={['example', { clickable }]} data-controller="doc" data-action={clickable ? 'click->doc#tryExample' : undefined}>
  {header && <div class="example-header">{header}</div>}
  <pre class="example-code">{code}</pre>
  {description && <p class="example-desc">{description}</p>}
</div>
