---
interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<footer class={className}>
  <p>
    Elo is open-source under the MIT License
    <br>
    <a href="https://github.com/enspirit/elo" target="_blank">View on GitHub</a> ·
    <a href="https://enspirit.dev" target="_blank">Enspirit</a> ·
    <a href="https://klaro.cards" target="_blank">Klaro Cards</a>
  </p>
</footer>
